<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet"> 
        <script src="https://kit.fontawesome.com/dcfdec84e3.js" crossorigin="anonymous"></script>
        <link rel="shortcut icon" type="image/jpg" href="/images/favicon.ico"/>
        <title>Mercadoliebre</title>
    </head>
<body>
    <header>
        <div class="header-login">
                <div class="header-logo">
                    <a href="/"><img src="/images/logo-mercado-liebre-3.svg" alt="Mercadoliebre Logo"></a>
                </div>
                <div class="header-logo_mobile">
                    <a href="/"><img src="/images/logo-mercado-liebre-4.svg" alt="Mercadoliebre Logo Mobile"></a>
                </div>
        </div>
    </header>
    <main>
        <div class="back-button">
            <a href="/"><p>Volver Atrás</p></a>
        </div>
        <div class="login">
            <form action="/" method="get">
                <label for="user">Nombre de Usuario</label>
                <input type="text" id="user" name="user"></input>
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password"></input>
                <button type="submit">Ingresar</button>
            </form>
        </div>
    </main>
</body>
</html>