<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/dcfdec84e3.js" crossorigin="anonymous"></script>
    <title>Mercadoliebre</title>
</head>

<body>
    <header>
        <div class="header-top">
            <div class="header-logo">
                <a href="/"><img src="/images/logo-mercado-liebre-3.svg" alt="Mercadoliebre Logo"></a>
            </div>
            <div class="header-logo_mobile">
                <a href="/"><img src="/images/logo-mercado-liebre-4.svg" alt="Mercadoliebre Logo Mobile"></a>
            </div>
        </div>
    </header>
    <main>
        <div class="register">
            <a href="/" class="back-button">
                <p>&lt Regresar</p>
            </a>
            <form action="/" method="POST" class="register-form">
                <h4>Datos Básicos</h4>
                <input type="text" name="name" placeholder="Nombre y apellido">
                <input type="text" name="user" placeholder="Nombre de usuario">
                <input type="email" name="email" placeholder="E-mail">
                <label for="birth_date"><b>Fecha de nacimiento</b></label>
                <input type="date" name="birth_date" id="birth_date">
                <input type="text" name="addres" placeholder="Domicilio">
                <h4>Perfil del usuario</h4>
                <div class="profile">
                    <input type="radio" name="profile" value="buy" id="buy">
                    <label for="buy">Comprador</label>
                    <input type="radio" name="profile" value="sell" id="sell">
                    <label for="sell">Vendedor</label>
                </div>
                <h4>Intereses</h4>
                <div class="interests">
                    <div>
                        <input type="checkbox" name="interests" value="a" id="a">
                        <label for="a">Electro</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="b" id="b">
                        <label for="b">Moda</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="c" id="c">
                        <label for="c">Hogar</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="d" id="d">
                        <label for="d">Juguetería</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="e" id="e">
                        <label for="e">Vida sana</label>
                    </div>
                </div>
                <h4>Elegí tu foto de usuario</h4>
                <input class="input-file" type="file" name="avatar">
                <input type="password" name="pass" placeholder="Elegí tu contraseña">
                <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
                <div class="final-step">
                    <button type="submit" value="Enviar">Enviar</button>
                    <button type="reset" value="Borrar">Borrar</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="sections-footer">
                <i class="fa-solid fa-credit-card footer-icon"></i>
                <p class="footer-description">Pagá con tarjeta o en efectivo</p>
                <p>Con MercadoLiebre, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. Siempre seguro!</p>
            </div>
            <div class="sections-footer">
                <i class="fa-solid fa-gift footer-icon"></i>
                <p class="footer-description">Envio gratis desde $5.000</p>
                <p>Al estar registrado en MercadoLiebre, tenés envíos gratis en miles de productos!</p>
            </div>
            <div class="sections-footer">
                <i class="fa-solid fa-user-shield footer-icon"></i>
                <p class="footer-description">Seguridad de principio a fin</p>
                <p>¿No te gustó? Devolvelo! En MercadoLiebre, estás siempre protegid@.</p>
            </div>
            <p class="footer-copyright">Copyright &copy; 1999 - 2022 MercadoLiebre S.R.L</p>
        </div>
    </footer>
</body>

</html>