* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100vw;
    background-color: #fff159;
}

<<<<<<< HEAD
=======
.header-top {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 0.5rem;
	width: 100vw;
	height: 85px;
    border-bottom: 1px solid #ecdf51;
}

.header-logo_mobile {
    display: none;
}

.header-logo a {
    display: flex;
    justify-content: center;
    width: 33vw;
}

.header-logo img {
    width: 200px;
    text-decoration: none;
    outline: none;
}

>>>>>>> 5dadb5deea594d31fdc2cb96dd0268f72d107853
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-login {
    width: 100vw;
    height: 80px;
    display: flex;
	align-items: center;
	justify-content: center;
    background-color: #fff159;
	width: 100vw;
	height: 85px;
}

.login {
    width: 70%;
    max-width: 1000px;
    height: 450px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 30px;
    border: solid 1px rgba(0, 0, 0, 0);
    box-shadow: 0px 2px #000000b6;
    background-color: #ebebeb;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    border: solid 1px rgba(0, 0, 0, 0);
    box-shadow: 0px 2px #03264cb6;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding: 4px 6px 4px 6px;
}

.back-button:hover {
    background-color: #2968c8;
    color: white;
    transition: 0.3s ease-in-out;
}

.back-button a {
    text-decoration: none;
}

.back-button a:visited {
    text-decoration: none;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 50%;
}

.form-section {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 80%;
    margin-bottom: 15px;
}

.form-section input {
    height: 24px;
    width: 80%;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0);
    box-shadow: 0px 2px #03264cb6;
    text-align: center;
}

.form-section label {
    width: 80%;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}

.login-form button {
    height: 40px;
    width: 80%;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0);
    box-shadow: 0px 2px #081529;
    font-weight: bold;
    color: white;
    background-color: #2968c8;
}

.login-form button:hover {
    cursor: pointer;
    background-color: #225197;
    transition: 0.3s;
}