* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100vw;
    background-color: #fff159;
}

.header-top {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 0.5rem;
	width: 100vw;
	height: 85px;
    border-bottom: 1px solid #ecdf51;
}

.header-logo_mobile {
    display: none;
}

.header-logo a {
    display: flex;
    justify-content: center;
    width: 33vw;
}

.header-logo img {
    width: 200px;
    text-decoration: none;
    outline: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-login {
    width: 100vw;
    height: 80px;
    display: flex;
	align-items: center;
	justify-content: center;
    background-color: #fff159;
	width: 100vw;
	height: 85px;
}

.register {
    width: 70%;
    max-width: 1000px;
    height: 600px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 30px;
    border: solid 1px rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #ebebeb;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    border: solid 1px rgba(0, 0, 0, 0);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding: 4px 6px 4px 6px;
    transition: 0.3s ease-in-out;
}

.back-button:hover {
    background-color: #2968c8;
    color: white;
}

.back-button a {
    text-decoration: none;
}

.back-button a:visited {
    text-decoration: none;
}

.register-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100%;
}

.register-form input {
    border-radius: 10px;
    margin: 5px;
    border: solid 1px rgba(0, 0, 0, 0);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
}

.register-form .input-file {
    border: 0px;
    box-shadow: 0px;
    border-radius: 0px;
}

.final-step {
    display: flex;
    justify-content: center;
}

.final-step button {
    height: 40px;
    width: 60px;
    margin: 10px 5px;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-weight: bold;
    color: white;
    background-color: #2968c8;
}

.final-step button:hover {
    cursor: pointer;
    background-color: #225197;
    transition: 0.3s;
}

@media (min-width: 320px) and (max-width: 768px) {
    .header-logo {
        display: none;
    }
    .header-logo_mobile {
        display: flex;
        width: 90%;
        height: 90%;
        justify-content: center;
    }
    .header-top a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-top img {
        width: 124px;
        height: 45px;
    }

    .register-form {
        margin-top: 30px;
    }
}