* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(208, 208, 208);
}

header {
    background-color: #fff159;
}

.header-top {
	display: flex;
	align-items: center;
	justify-content: space-around;
    width: 100%;
	margin-bottom: 0.5rem;
	height: 85px;
    border-bottom: 1px solid #ecdf51;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.header-logo_mobile {
    display: none;
}

.header-logo a {
    display: flex;
    align-items: center;
    width: 33vw;
}

.header-logo img {
    width: 220px;
    margin-left: 3rem;
    text-decoration: none;
    outline: none;
}

.search-bar {
	display: flex;
    position: relative;
	width: 33vw;
	height: 140px;
	justify-content: center;
	align-items: center;
}

.search-bar_form {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100%;
}

.search-bar_input-mobile {
    display: none;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    height: 36px;
    text-align: center;
}

.search-bar_input {
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    height: 36px;
    text-align: center;
}

.search-bar_input ::placeholder {
    text-align: center;
    font-size: 14px;
}

.search-bar input:focus {
    outline: none;
    border: 1px solid #03264cb6;
}

.search-bar_btn {
    position: absolute;
    right: 10px;
    width: 100%;
    width: 40px;
    height: 30%;
}

.search-bar button {
    background: none;
	color: #03264C;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    transition: all 0.3s;
}

.search-bar button:hover {
    color: black;
    transform: scale(1.3);
}

.header-text {
    display: flex;
	justify-content: flex-end;
    margin-right: 3rem;
	text-align: center;
	align-items: center;
	width: 33vw;
    font-weight: bold;
	font-size: 15px;
}

.header-text i {
    margin-right: 0.5rem;
}

.header-nav {
    display: flex;
    font-size: 15px;
    margin: 10px 0px;
}

.header-nav_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 35%;
}

.header-nav_text p {
    color: #03264C;
    font-style: italic;
    font-weight: bold;
}

.header-nav_listA {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3rem;
    list-style-type: none;
    width: 70%;
}

.header-nav_listB {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3rem;
    list-style-type: none;
    width: 70%;
}

.header-nav_listB li {
    margin-left: 1.5rem;
    justify-content: space-around;
}

.header-nav_listA li {
    margin-right: 1.5rem;
    justify-content: space-around;
}

.header-nav a {
    padding: 3px;
    text-decoration: none;
    color: #03264C;
    transition: all 0.3s;
}

.header-nav a:visited {
    text-decoration: none;
    color: #03264C;
}

.header-nav a:hover {
    background-color: #ecdf51c7;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.header-banner {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-banner img {    
    width: 100vw;
}

.burger-menu {
    display: none;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-container {
    width: 90%;
}


.section-titles {
    font-size: 20px;
    color: black;
    margin: 20px 0px;
}

.section-lastvisit {
    display: flex;
    flex-wrap: wrap;
}

.section-offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount {
    width: 70%;
    font-size: 14px;
    font-weight: bold;
}


.description {
    font-size: 16px;
    font-weight: normal;
    color: black;
    margin-top: 16px;
}

.products-product {
    background-color: white;    
    margin: 10px 0px;
    transition: all 0.3s;
}

.products-product:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.product-img {
    padding: 20px;
}

.products-product img{
    width: 100%;
}

.fa-truck {
    border: #39b54a solid 1px;
    color: #39b54a;
    transition: all 0.5s;
}

.fa-truck:hover {
    transform: rotate(-360deg);
}

.discount {
    color: #39b54a;
    transition: all 0.3s;
}

.discount:hover {
    font-size: 18px;
}

.products-product i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
	background: white;
	padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.footer-container {
    display: flex;
    justify-content: center;
	flex-wrap: wrap;
    align-items: center;
	text-align: center;
    width: 90%;
}

.sections-footer {
	width: 33%;
    padding: 15px;
    font-style: italic;
}

.footer-description {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer-icon {
	color: rgb(54, 52, 191);
	font-size: 2em;
	transition: all 0.3s;
}

.footer-icon:hover {
    color: black;
}

.footer-copyright {
    font-size: 12px;
}



@media (min-width: 361px){
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }
}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }
}

@media (min-width: 320px) and (max-width: 768px) {

    .header-top {
        justify-content: space-around;       
        align-items: center;
        border-bottom: 0px;
        height: 50px;
    }

    .burger-menu {
        display: flex;
        justify-content: center;
        width: 33vw;
        height: 50px;
        margin-top: 8px;
    }

    .burger-menu button {
        background: none;
        border: none;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }

    .burger-menu i {
        font-size: 20px;
        background-color: none;
        color: #03264C;
    }

    .header-logo {
        display: none;
    }

    .header-logo_mobile {
        width: 33vw;
        height: 50px;
        margin-top: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-logo_mobile a {
        width: 100%;
        height: 100%;
    }

    .header-logo_mobile img {
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 90%;
    }

    .search-bar {
        width: 33vw;
        height: 50px;
        margin-top: 8px;
    }

    .search-bar_input {
        display: none;
    }

    .search-bar_form {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-bar button {
        display: flex;
        position: relative;
        justify-content: center;
        text-align: center;
        font-size: 20px;
    }
    
    .header-text {
        display: none;
    }

    .header-nav {
        display: none;
    }

}

@media (min-width: 769px) and (max-width: 953px){
    
    .header-logo img {
        text-align: center;
        width: 70%;
    }

    .search-bar {
        justify-content: flex-end;
    }

    .header-text {
        display: none;
    }

    .header-nav_text {
        display: none;
    }

    .header-nav_listB li {
        margin-left: 1.5rem;
        justify-content: space-around;
    }
    
    .header-nav_listA li {
        margin-right: 1.5rem;
        justify-content: space-around;
    }

}

@media (min-width: 769px) and (max-width: 1280px){

    .search-bar_btn {
        right: 2px;
    }

    .header-text {
        font-size: 13px;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .header-text i {
        margin-left: 10px;
        margin-right: 0;
        padding: 5px;
    }

    .header-nav {
        font-size: 12px;
    }
}




